.home-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.home-container h1 {
  font-size: 2em;
  margin-bottom: 20px;
}

.home-container p {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.chair-photo {
  flex: 1;
  padding-right: 20px;
}

.chair-photo img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.content {
  flex: 1;
  padding-left: 20px;
  text-align: left;
}
